/* Add any custom CSS to change the style of the website in this file */

/* Example: change the navigation bar background to orange (this code is documented out)
.navbar-custom {
  background: orange;
}
*/
/* tamanho dos títulos */
.intro-header .page-heading h1 {
  font-size: 60px;
}

/* tamanho da fonte do site */
p {
  line-height: 1.8;
}
body {
  font-size: 20px;
}
/* cor da barra de navegação */
.navbar-custom {
  background: #084594;
}
/* cor dos títulos */
.h1, h1 {
  font-size: 30px;
  color: #3f16b3;
}
.h3, h3 {
  font-size: 24px;
  color: green;
}